.products {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

@media screen and (max-width: 660px) {
  .products {
    flex-direction: column;
  }
}
