.navbar-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-auto-columns: 1fr;
  height: 50px;
  margin-bottom: 20px;
}
.nav-logo {
  position: relative;
  float: left;
  width: 50%;
}
.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  align-items: center;
  grid-area: header;
  background-color: #376190;
  color: white;
  padding: 0.5rem;
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 4;
  justify-content: space-between;
  margin: 0;
}
header a {
  color: white;
  font-size: 2.5rem;
  margin-left: 15px;
}
.cartIcon {
  position: relative;
  font-size: 35px;

  cursor: pointer;
  margin-right: 20px;
}

.cart-number {
  position: absolute;
  top: 0;
  right: -7px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: 600;
}

.cart-number:hover {
  background-color: #000000;
  color: #ffffff;
}
.cartIcon:hover {
  color: rgb(204, 142, 120);
}
