.single-product {
  height: 100%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.single-product-left {
  flex: 2;
}
.single-product-carousel {
  height: 10px;
  width: 10px;
}
.single-product-right {
  flex: 3;
  margin-right: 20px;
  margin-left: 10px;
}
.single-product-right h1 {
  font-family: "Satisfy", cursive;
  font-size: 4.5rem;
}
.single-product-right p {
  font-size: 2.5rem;
}

.price-size-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.product-size-container {
  margin-top: 10px;
}
.product-size {
  width: 4rem;
  height: 3rem;
  text-align: center;
  margin: 0px 5px;
  margin-bottom: 3px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #ccc;
}
.product-size:hover {
  border: 2px solid rgb(19, 18, 18);
  background-color: #376190;
  color: white;
}
.product-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-price-original {
  font-size: 18px;
  font-weight: 600;
  margin-right: 5px;
  color: #e0505c;
  text-decoration: line-through;
}

.product-price-reduced {
  font-size: 16px;
  font-weight: 600;

  color: #6bc526;
}
.product-sizes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.single {
  margin-top: 20px;
  justify-content: start;
}
.single > button {
  margin: 10px;
  margin-left: 0;
}

@media screen and (max-width: 498px) {
  .single-product {
    align-items: center;
    justify-content: center;
  }

  .carousel {
    text-align: center;
  }
  .single-product-right {
    width: 50%;
  }
  .single-product-right h1 {
    font-family: "Satisfy", cursive;
    font-size: 2.5rem;
  }
  .single-product-right p {
    font-size: 1.5rem;
  }
  .product-price-original,
  .product-price-reduced {
    font-size: 1.5rem;
  }
  .single {
    align-items: center;
    justify-content: center;
  }
}
